Package: iperfspeed
Version: 0.2
Depends: apache2, libnet-ssh2-perl
Provides: 
Source: package/iperfspeed
Section: net
Priority: optional
Maintainer: Trevor Paskett (K7FPV)
Architecture: all
Description: Web iperf interface to speed test between AREDN nodes
